/caika
/Excel_Merge_Streamlit
llama3.2-typhoon2-1b/
React_uih_data/main.tsx
/CAIKA-RAG-TYPHOON/models
/CAIKA-RAG-TYPHOON/venv
CAIKA-RAG-TYPHOON/assets/Screenshot/.DS_Store
CAIKA-RAG-TYPHOON/assets/Screenshot/Screenshot 2568-03-23 at 20.38.20.png
CAIKA-RAG-TYPHOON/assets/Screenshot/Screenshot 2568-03-23 at 20.38.34.png
CAIKA-RAG-TYPHOON/assets/Screenshot/Screenshot 2568-03-23 at 21.01.31.png
CAIKA-RAG-TYPHOON/assets/Screenshot/Screenshot 2568-03-23 at 21.03.15.png
CAIKA-RAG-TYPHOON/assets/Screenshot/Screenshot 2568-03-23 at 21.10.13.png
CAIKA-RAG-TYPHOON/assets/Screenshot/Screenshot 2568-03-23 at 21.44.34.png
CAIKA-RAG-TYPHOON/assets/Screenshot/Screenshot 2568-03-23 at 21.57.31.png
CAIKA-RAG-TYPHOON/assets/Screenshot/Screenshot 2568-03-23 at 22.07.22.png
CAIKA-RAG-TYPHOON/assets/Screenshot/20250323/Screenshot 2568-03-23 at 22.20.51.png
CAIKA-RAG-TYPHOON/assets/Screenshot/20250323/Screenshot 2568-03-23 at 22.22.01.png
CAIKA-RAG-TYPHOON/assets/Screenshot/20250323/Screenshot 2568-03-23 at 22.22.20.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 22.52.14.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 22.53.40.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 23.03.35.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 23.04.17.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 23.08.10.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 23.23.20.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 23.23.57.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 23.28.21.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 23.28.47.png
CAIKA-RAG-TYPHOON/assets/Screenshot/caika-20250323/Screenshot 2568-03-23 at 23.43.12.png
